{% extends 'catalog/base.html' %}
{% block content %}
{% load user_tags %}
<div class="container">
    <div class="profile">
        <h2>Профиль пользователя</h2>
        <div class="row">
            <div class="col-md-8">
                <p>Email: {{ user.email }}</p>
                <p>Имя: {{ user.first_name }}</p>
                <p>Фамилия: {{ user.last_name }}</p>
                <p>Страна: {{ user.country }}</p>
                <p>Телефон: {{ user.phone }}</p>
            </div>
            <div class="col-md-4 text-right">
                <img src="{% mediapath user.avatar %}" alt="Avatar" class="img-fluid">
            </div>
        </div>
        <div class="profile-actions mt-3">
            <a href="{% url 'users:profile_edit' %}" class="btn btn-primary">Редактировать профиль</a>
        </div>
    </div>
    {% include 'users/includes/inc_block_client.html' %}
</div>


{% endblock %}
